USE [master]
GO
/****** Object:  Database [QLDBDADATBAN]    Script Date: 05/08/2024 4:11:01 PM ******/
CREATE DATABASE [QLDBDADATBAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDBDADATBAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLDBDADATBAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDBDADATBAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLDBDADATBAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDBDADATBAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDBDADATBAN]
GO
/****** Object:  Table [dbo].[BAIVIETDT]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIVIETDT](
	[MaBV] [int] IDENTITY(1,1) NOT NULL,
	[NDTomTat] [nvarchar](max) NULL,
	[NDBangGia] [nvarchar](max) NULL,
	[NDQuyDinh] [nvarchar](max) NULL,
	[NDDeXe] [nvarchar](max) NULL,
	[NDTienIch] [nvarchar](max) NULL,
	[NDChiTiet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MaCN] [int] IDENTITY(1,1) NOT NULL,
	[TenCN] [nvarchar](100) NOT NULL,
	[SoNhaCN] [nvarchar](255) NULL,
	[DuongCN] [nvarchar](255) NULL,
	[QuanCN] [nvarchar](255) NULL,
	[ThanhPhoCN] [nvarchar](255) NULL,
	[SoChoNgoi] [int] NOT NULL,
	[MaDT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBOMONAN]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBOMONAN](
	[MaCB] [int] IDENTITY(1,1) NOT NULL,
	[TenCB] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Img] [varchar](255) NULL,
	[GiaTien] [decimal](10, 2) NOT NULL,
	[SoLgNgDung] [int] NOT NULL,
	[MaDT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[SoSao] [int] NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[LyDoHuy] [nvarchar](max) NULL,
	[NgayDG] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVUCC]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVUCC](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
	[GiaDV] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOITAC]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITAC](
	[MaDT] [int] IDENTITY(1,1) NOT NULL,
	[MaND] [int] NULL,
	[TenNhaHang] [nvarchar](100) NOT NULL,
	[SoNhaNH] [nvarchar](255) NOT NULL,
	[DuongNH] [nvarchar](255) NOT NULL,
	[QuanNH] [nvarchar](255) NOT NULL,
	[ThanhPhoNH] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[LinkLienKet] [varchar](255) NULL,
	[LinkGgMap] [varchar](255) NULL,
	[HoaDonTB] [varchar](50) NOT NULL,
	[GioMo] [time](7) NOT NULL,
	[GioDong] [time](7) NOT NULL,
	[SoChoNgoi] [int] NOT NULL,
	[MaDV] [int] NOT NULL,
	[NgayDK] [date] NOT NULL,
	[ImgMoTa] [varchar](255) NULL,
	[MaBV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATBAN]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATBAN](
	[MaDDB] [int] IDENTITY(1,1) NOT NULL,
	[MaND] [int] NULL,
	[MaDT] [int] NULL,
	[NgayDat] [date] NULL,
	[ThoiGianDat] [time](7) NULL,
	[SoLgNguoi] [int] NULL,
	[YeuCauDacBiet] [nvarchar](400) NULL,
	[GhiChu] [nvarchar](400) NULL,
	[SoTien] [decimal](10, 2) NULL,
	[MaCN] [int] NULL,
	[MaTTD] [int] NULL,
	[MaCB] [int] NULL,
	[MaDG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMGDOITAC]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMGDOITAC](
	[MaImg] [int] IDENTITY(1,1) NOT NULL,
	[Img] [varchar](255) NOT NULL,
	[MaDT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaImg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_NH]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_NH](
	[MaLNH] [int] IDENTITY(1,1) NOT NULL,
	[TenLNH] [nvarchar](50) NOT NULL,
	[ImgMoTa] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_NH_DOITAC]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_NH_DOITAC](
	[MaLNH] [int] NOT NULL,
	[MaDT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLNH] ASC,
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](12) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[SoNha] [nvarchar](255) NULL,
	[Duong] [nvarchar](255) NULL,
	[Quan] [nvarchar](255) NULL,
	[ThanhPho] [nvarchar](255) NULL,
	[NgayTaoTK] [date] NOT NULL,
	[SoLanDatBan] [int] NULL,
	[MaPQ] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MaPQ] [int] IDENTITY(1,1) NOT NULL,
	[TenPQ] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaDT] [int] NULL,
	[SoTienTT] [decimal](10, 2) NULL,
	[NgayTT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[MaTB] [int] IDENTITY(1,1) NOT NULL,
	[MaND] [int] NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayGui] [date] NULL,
	[ThoiGian] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO_NGUOINHAN]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO_NGUOINHAN](
	[MaTB] [int] NOT NULL,
	[MaND] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC,
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIDON]    Script Date: 05/08/2024 4:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIDON](
	[MaTTD] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAIVIETDT] ON 

SET IDENTITY_INSERT [dbo].[BAIVIETDT] OFF
GO
SET IDENTITY_INSERT [dbo].[CHINHANH] ON 

INSERT [dbo].[CHINHANH] ([MaCN], [TenCN], [SoNhaCN], [DuongCN], [QuanCN], [ThanhPhoCN], [SoChoNgoi], [MaDT]) VALUES (2, N'Chi nhánh Lý Tự Trọng', N'789', N'Lý Tự Trọng', N'Hải Châu', N'Đà Nẵng', 50, 1)
INSERT [dbo].[CHINHANH] ([MaCN], [TenCN], [SoNhaCN], [DuongCN], [QuanCN], [ThanhPhoCN], [SoChoNgoi], [MaDT]) VALUES (3, N'Chi nhánh Lê Duẩn', N'101', N'Lê Duẩn', N'Quận 1', N'TP Hồ Chí Minh', 60, 1)
INSERT [dbo].[CHINHANH] ([MaCN], [TenCN], [SoNhaCN], [DuongCN], [QuanCN], [ThanhPhoCN], [SoChoNgoi], [MaDT]) VALUES (4, N'Chay Pahum - Nguyễn Văn Cừ', N'78', N'Nguyễn Văn Cừ', N'Quận 8', N'TP. Hồ Chí Minh', 120, 6)
SET IDENTITY_INSERT [dbo].[CHINHANH] OFF
GO
SET IDENTITY_INSERT [dbo].[COMBOMONAN] ON 

INSERT [dbo].[COMBOMONAN] ([MaCB], [TenCB], [MoTa], [Img], [GiaTien], [SoLgNgDung], [MaDT]) VALUES (2, N'Suất Buffet 485K Chưa Gồm VAT - Trưa T2-T5', N'Phù hợp: Ăn gia đình | Tụ tập bạn bè | Họp nhóm | Hẹn hò | Tiếp khách | Tổ chức sinh nhật', N'cb1.webp', CAST(485000.00 AS Decimal(10, 2)), 2, 1)
INSERT [dbo].[COMBOMONAN] ([MaCB], [TenCB], [MoTa], [Img], [GiaTien], [SoLgNgDung], [MaDT]) VALUES (3, N'Suất Buffet 535K Chưa Gồm VAT - Tối T2-T5', N'Combo món ăn Nhật', N'cb2.webp', CAST(535000.00 AS Decimal(10, 2)), 2, 1)
INSERT [dbo].[COMBOMONAN] ([MaCB], [TenCB], [MoTa], [Img], [GiaTien], [SoLgNgDung], [MaDT]) VALUES (4, N'Lẩu abc', N'Ngon đó', N'Screenshot 2024-01-12 212615.png', CAST(50000.00 AS Decimal(10, 2)), 3, 2)
SET IDENTITY_INSERT [dbo].[COMBOMONAN] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHGIA] ON 

INSERT [dbo].[DANHGIA] ([MaDG], [SoSao], [BinhLuan], [LyDoHuy], [NgayDG]) VALUES (1, 5, N'Bình luận 1', NULL, CAST(N'2023-07-10' AS Date))
INSERT [dbo].[DANHGIA] ([MaDG], [SoSao], [BinhLuan], [LyDoHuy], [NgayDG]) VALUES (2, 4, N'Bình luận 2', NULL, CAST(N'2023-07-11' AS Date))
INSERT [dbo].[DANHGIA] ([MaDG], [SoSao], [BinhLuan], [LyDoHuy], [NgayDG]) VALUES (3, 5, N'Bình luận 1', NULL, CAST(N'2023-07-10' AS Date))
SET IDENTITY_INSERT [dbo].[DANHGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[DICHVUCC] ON 

INSERT [dbo].[DICHVUCC] ([MaDV], [NoiDung], [SoLuong], [GiaDV]) VALUES (1, N'Gói VIP 1', 0, CAST(3000000.00 AS Decimal(10, 2)))
INSERT [dbo].[DICHVUCC] ([MaDV], [NoiDung], [SoLuong], [GiaDV]) VALUES (2, N'Gói VIP 2', 0, CAST(2000000.00 AS Decimal(10, 2)))
INSERT [dbo].[DICHVUCC] ([MaDV], [NoiDung], [SoLuong], [GiaDV]) VALUES (3, N'Gói VIP 3', 0, CAST(1500000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DICHVUCC] OFF
GO
SET IDENTITY_INSERT [dbo].[DOITAC] ON 

SET IDENTITY_INSERT [dbo].[DOITAC] OFF
GO
SET IDENTITY_INSERT [dbo].[DONDATBAN] ON 

INSERT [dbo].[DONDATBAN] ([MaDDB], [MaND], [MaDT], [NgayDat], [ThoiGianDat], [SoLgNguoi], [YeuCauDacBiet], [GhiChu], [SoTien], [MaCN], [MaTTD], [MaCB], [MaDG]) VALUES (6, 17, 6, CAST(N'2024-07-29' AS Date), CAST(N'17:51:00' AS Time), 2, N'', N'', CAST(350000.00 AS Decimal(10, 2)), NULL, 3, NULL, 10)
INSERT [dbo].[DONDATBAN] ([MaDDB], [MaND], [MaDT], [NgayDat], [ThoiGianDat], [SoLgNguoi], [YeuCauDacBiet], [GhiChu], [SoTien], [MaCN], [MaTTD], [MaCB], [MaDG]) VALUES (7, 9, 6, CAST(N'2024-07-30' AS Date), CAST(N'17:53:00' AS Time), 1, N'', N'', CAST(0.00 AS Decimal(10, 2)), NULL, 4, NULL, 9)
INSERT [dbo].[DONDATBAN] ([MaDDB], [MaND], [MaDT], [NgayDat], [ThoiGianDat], [SoLgNguoi], [YeuCauDacBiet], [GhiChu], [SoTien], [MaCN], [MaTTD], [MaCB], [MaDG]) VALUES (8, 17, 6, CAST(N'2024-07-29' AS Date), CAST(N'19:30:00' AS Time), 2, N'HI', N'HI', CAST(0.00 AS Decimal(10, 2)), 5, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DONDATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[IMGDOITAC] ON 

INSERT [dbo].[IMGDOITAC] ([MaImg], [Img], [MaDT]) VALUES (1004, N'nha-hang-the-wann-bui-thi-xuan-2-normal-2249275655892.webp', 3)
INSERT [dbo].[IMGDOITAC] ([MaImg], [Img], [MaDT]) VALUES (1005, N'nha-hang-the-wann-bui-thi-xuan-3-normal-2249275755893.webp', 3)
INSERT [dbo].[IMGDOITAC] ([MaImg], [Img], [MaDT]) VALUES (1006, N'nha-hang-the-wann-bui-thi-xuan-4-normal-2249275855894.webp', 3)
SET IDENTITY_INSERT [dbo].[IMGDOITAC] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAI_NH] ON 

INSERT [dbo].[LOAI_NH] ([MaLNH], [TenLNH], [ImgMoTa]) VALUES (1, N'Nhà hàng Á', N'lnh-a.png')
INSERT [dbo].[LOAI_NH] ([MaLNH], [TenLNH], [ImgMoTa]) VALUES (2, N'Nhà hàng Âu', N'lnh-au.png')
INSERT [dbo].[LOAI_NH] ([MaLNH], [TenLNH], [ImgMoTa]) VALUES (3, N'Nhà hàng Lẩu', N'lnh-lau.png')
SET IDENTITY_INSERT [dbo].[LOAI_NH] OFF
GO
INSERT [dbo].[LOAI_NH_DOITAC] ([MaLNH], [MaDT]) VALUES (1, 2)
INSERT [dbo].[LOAI_NH_DOITAC] ([MaLNH], [MaDT]) VALUES (1, 3)
INSERT [dbo].[LOAI_NH_DOITAC] ([MaLNH], [MaDT]) VALUES (1, 7)
GO
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([MaND], [HoTen], [SDT], [Email], [Password], [SoNha], [Duong], [Quan], [ThanhPho], [NgayTaoTK], [SoLanDatBan], [MaPQ]) VALUES (1, N'Nguyễn Văn Admin', N'0123456791', N'nguyenvana@gmail.com', N'0123456789', N'123', N'Trần Phú', N'Hải Châu', N'Đà Nẵng', CAST(N'2023-07-10' AS Date), 5, 1)
INSERT [dbo].[NGUOIDUNG] ([MaND], [HoTen], [SDT], [Email], [Password], [SoNha], [Duong], [Quan], [ThanhPho], [NgayTaoTK], [SoLanDatBan], [MaPQ]) VALUES (2, N'Tran Thị Khách Hàng', N'0987654322', N'tranthib@gmail.com', N'password456', N'456', N'Nguyễn Huệ', N'Quận 1', N'TP Hồ Chí Minh', CAST(N'2023-07-11' AS Date), 3, 2)
INSERT [dbo].[NGUOIDUNG] ([MaND], [HoTen], [SDT], [Email], [Password], [SoNha], [Duong], [Quan], [ThanhPho], [NgayTaoTK], [SoLanDatBan], [MaPQ]) VALUES (3, N'Tran Thị Quý', N'0987654320', N'tranthib@gmail.com', N'password456', N'456', N'Nguyễn Huệ', N'Quận 1', N'TP Hồ Chí Minh', CAST(N'2023-07-11' AS Date), 3, 2)
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[PHANQUYEN] ON 

INSERT [dbo].[PHANQUYEN] ([MaPQ], [TenPQ]) VALUES (1, N'Admin')
INSERT [dbo].[PHANQUYEN] ([MaPQ], [TenPQ]) VALUES (2, N'Khách hàng')
INSERT [dbo].[PHANQUYEN] ([MaPQ], [TenPQ]) VALUES (3, N'Đối tác')
SET IDENTITY_INSERT [dbo].[PHANQUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[THANHTOAN] ON 

INSERT [dbo].[THANHTOAN] ([MaTT], [MaDT], [SoTienTT], [NgayTT]) VALUES (1, 1, CAST(1500000.00 AS Decimal(10, 2)), CAST(N'2023-07-10' AS Date))
INSERT [dbo].[THANHTOAN] ([MaTT], [MaDT], [SoTienTT], [NgayTT]) VALUES (2, 1, CAST(2000000.00 AS Decimal(10, 2)), CAST(N'2023-07-11' AS Date))
INSERT [dbo].[THANHTOAN] ([MaTT], [MaDT], [SoTienTT], [NgayTT]) VALUES (3, 1, CAST(1500000.00 AS Decimal(10, 2)), CAST(N'2023-07-10' AS Date))
SET IDENTITY_INSERT [dbo].[THANHTOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[THONGBAO] ON 

INSERT [dbo].[THONGBAO] ([MaTB], [MaND], [TieuDe], [NoiDung], [NgayGui], [ThoiGian]) VALUES (1, 1, N'Thông báo 1', N'Nội dung thông báo 1', CAST(N'2023-07-10' AS Date), NULL)
INSERT [dbo].[THONGBAO] ([MaTB], [MaND], [TieuDe], [NoiDung], [NgayGui], [ThoiGian]) VALUES (2, 2, N'Thông báo 2', N'Nội dung thông báo 2', CAST(N'2023-07-11' AS Date), NULL)
INSERT [dbo].[THONGBAO] ([MaTB], [MaND], [TieuDe], [NoiDung], [NgayGui], [ThoiGian]) VALUES (3, 1, N'Thông báo 1', N'Nội dung thông báo 1', CAST(N'2023-07-10' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[THONGBAO] OFF
GO
INSERT [dbo].[THONGBAO_NGUOINHAN] ([MaTB], [MaND]) VALUES (1, 1)
INSERT [dbo].[THONGBAO_NGUOINHAN] ([MaTB], [MaND]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[TRANGTHAIDON] ON 

INSERT [dbo].[TRANGTHAIDON] ([MaTTD], [NoiDung]) VALUES (1, N'Chờ xác nhận')
INSERT [dbo].[TRANGTHAIDON] ([MaTTD], [NoiDung]) VALUES (2, N'Đã xác nhận')
INSERT [dbo].[TRANGTHAIDON] ([MaTTD], [NoiDung]) VALUES (3, N'Đã hoàn thành')
SET IDENTITY_INSERT [dbo].[TRANGTHAIDON] OFF
GO
ALTER TABLE [dbo].[CHINHANH]  WITH CHECK ADD  CONSTRAINT [FK_CHINHANH_DOITAC] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[CHINHANH] CHECK CONSTRAINT [FK_CHINHANH_DOITAC]
GO
ALTER TABLE [dbo].[COMBOMONAN]  WITH CHECK ADD  CONSTRAINT [FK_COMBOMONAN_DOITAC] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[COMBOMONAN] CHECK CONSTRAINT [FK_COMBOMONAN_DOITAC]
GO
ALTER TABLE [dbo].[DOITAC]  WITH CHECK ADD  CONSTRAINT [FK_DOITAC_BAIVIET_DOITAC] FOREIGN KEY([MaBV])
REFERENCES [dbo].[BAIVIETDT] ([MaBV])
GO
ALTER TABLE [dbo].[DOITAC] CHECK CONSTRAINT [FK_DOITAC_BAIVIET_DOITAC]
GO
ALTER TABLE [dbo].[DOITAC]  WITH CHECK ADD  CONSTRAINT [FK_DOITAC_DICHVUCC] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVUCC] ([MaDV])
GO
ALTER TABLE [dbo].[DOITAC] CHECK CONSTRAINT [FK_DOITAC_DICHVUCC]
GO
ALTER TABLE [dbo].[DOITAC]  WITH CHECK ADD  CONSTRAINT [FK_DOITAC_NGUOIDUNG] FOREIGN KEY([MaND])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[DOITAC] CHECK CONSTRAINT [FK_DOITAC_NGUOIDUNG]
GO
ALTER TABLE [dbo].[DONDATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DONDATBAN_CHINHANH] FOREIGN KEY([MaCN])
REFERENCES [dbo].[CHINHANH] ([MaCN])
GO
ALTER TABLE [dbo].[DONDATBAN] CHECK CONSTRAINT [FK_DONDATBAN_CHINHANH]
GO
ALTER TABLE [dbo].[DONDATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DONDATBAN_COMBO] FOREIGN KEY([MaCB])
REFERENCES [dbo].[COMBOMONAN] ([MaCB])
GO
ALTER TABLE [dbo].[DONDATBAN] CHECK CONSTRAINT [FK_DONDATBAN_COMBO]
GO
ALTER TABLE [dbo].[DONDATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DONDATBAN_DANHGIA] FOREIGN KEY([MaDG])
REFERENCES [dbo].[DANHGIA] ([MaDG])
GO
ALTER TABLE [dbo].[DONDATBAN] CHECK CONSTRAINT [FK_DONDATBAN_DANHGIA]
GO
ALTER TABLE [dbo].[DONDATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DONDATBAN_DOITAC] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[DONDATBAN] CHECK CONSTRAINT [FK_DONDATBAN_DOITAC]
GO
ALTER TABLE [dbo].[DONDATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DONDATBAN_NGUOIDUNG] FOREIGN KEY([MaND])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[DONDATBAN] CHECK CONSTRAINT [FK_DONDATBAN_NGUOIDUNG]
GO
ALTER TABLE [dbo].[DONDATBAN]  WITH CHECK ADD  CONSTRAINT [FK_DONDATBAN_TRANGTHAI] FOREIGN KEY([MaTTD])
REFERENCES [dbo].[TRANGTHAIDON] ([MaTTD])
GO
ALTER TABLE [dbo].[DONDATBAN] CHECK CONSTRAINT [FK_DONDATBAN_TRANGTHAI]
GO
ALTER TABLE [dbo].[IMGDOITAC]  WITH CHECK ADD  CONSTRAINT [FK_IMGDOITAC_DOITAC] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[IMGDOITAC] CHECK CONSTRAINT [FK_IMGDOITAC_DOITAC]
GO
ALTER TABLE [dbo].[LOAI_NH_DOITAC]  WITH CHECK ADD  CONSTRAINT [FK_LOAI_NH_DOITAC_DOITAC] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[LOAI_NH_DOITAC] CHECK CONSTRAINT [FK_LOAI_NH_DOITAC_DOITAC]
GO
ALTER TABLE [dbo].[LOAI_NH_DOITAC]  WITH CHECK ADD  CONSTRAINT [FK_LOAI_NH_DOITAC_LOAI_NH] FOREIGN KEY([MaLNH])
REFERENCES [dbo].[LOAI_NH] ([MaLNH])
GO
ALTER TABLE [dbo].[LOAI_NH_DOITAC] CHECK CONSTRAINT [FK_LOAI_NH_DOITAC_LOAI_NH]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_PHANQUYEN] FOREIGN KEY([MaPQ])
REFERENCES [dbo].[PHANQUYEN] ([MaPQ])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_PHANQUYEN]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANHTOAN_DOITAC] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DOITAC] ([MaDT])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_THANHTOAN_DOITAC]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAO_NGUOIGUI] FOREIGN KEY([MaND])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FK_THONGBAO_NGUOIGUI]
GO
ALTER TABLE [dbo].[THONGBAO_NGUOINHAN]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAO_NGUOINHAN_NGUOIDUNG] FOREIGN KEY([MaND])
REFERENCES [dbo].[NGUOIDUNG] ([MaND])
GO
ALTER TABLE [dbo].[THONGBAO_NGUOINHAN] CHECK CONSTRAINT [FK_THONGBAO_NGUOINHAN_NGUOIDUNG]
GO
ALTER TABLE [dbo].[THONGBAO_NGUOINHAN]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAO_NGUOINHAN_THONGBAO] FOREIGN KEY([MaTB])
REFERENCES [dbo].[THONGBAO] ([MaTB])
GO
ALTER TABLE [dbo].[THONGBAO_NGUOINHAN] CHECK CONSTRAINT [FK_THONGBAO_NGUOINHAN_THONGBAO]
GO
USE [master]
GO
